# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Virtual environments
venv/
venv_new/
.env/
.env

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
.installed.cfg
*.egg
dist/
build/

# mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Unit test / coverage reports
.pytest_cache/
coverage.xml

# Jupyter
.ipynb_checkpoints/
